.body {
    box-sizing: border-box;
}

.App {
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    padding: 10px;
}

.App-header {
    text-align: center;
}

.articles {
    display: flex;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}

.sidebar {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.main {
    width: 70%;
    display: flex;
    justify-content: space-around;
}